.benefit {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    scroll-margin-top: 90px;
    overflow: clip;
    padding: 20px 60px;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}

.benefitContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefitContainer h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #2d465e;
}

.benefitContainer p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #212529;
}

.benefitImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}