.card{
    background-color: #ffffff;
    color: #212529;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    margin-bottom: 20px;
    border: 0;
    width: 420px;
    height: 565px;
    position: relative;
}

.image{
    position: relative;
    padding: 20px 20px 0 20px;
}

.icons{
    border: 4px solid #ffffff;
    color: #559bcc;
    background-color: color-mix(in srgb, #559bcc 10%, white 100%);
    width: 72px;
    height: 72px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 32px);
    bottom: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 0;
    transition: 0.3s;
}

.card:hover .icons{
    background-color: #559bcc;
    color: #ffffff;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 0;
    margin: 50px 0 12px 0;
    color: #2d465e;
}

p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0 30px 30px 30px;
}