.hero {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    background: url(../../assets/hero-bg.jpg);
    padding: 20px 60px;
}

.heroSec {
    flex-direction: row;
    gap: 80px;
}

.heroContent {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 50vw;
}

.heroContent h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
}

.heroContent p {
    color: color-mix(in srgb, #ffffff, transparent 30%);
    margin: 5px 0 10px 0;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn a {
    color: white;
    background: color-mix(in srgb, #ffffff, transparent 90%);
    font-weight: 500;
    font-size: 15px;
    padding: 8px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn a:hover {
    background: #559bcc;
    color: #ffffff;
}

.btn i {
    font-size: 16px;
    line-height: 0;
    margin-right: 8px;
}

.heroImg {
    position: relative;
    min-height: 600px;
}

.phone1 {
    margin-top: 20px;
    position: absolute;
    left: 0;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 250px;
}

.phone2 {
    position: absolute;
    left: 0;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 250px;
    margin-top: 70px;
    margin-left: 100px;
}

/* responsiveness */

@media (max-width: 1100px) {
   .heroContent{
    max-width: 40vw;
}
}

@media (max-width: 800px) {
    .heroSec {
    flex-direction: column-reverse;
    gap: 80px;
}
.heroContent{
    max-width: 100vw;
}

}

@media (max-width: 500px) {
    .hero {
        padding: 20px 20px;
    }

    .heroSec {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .heroContent {
        align-items: center;
    }

    .heroContent h2 {
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }

    .heroContent p {
        margin: 10px 0 10px 0;
        font-size: 16px;
        text-align: center;
    }

    .btn {
        gap: 20px;
        margin-bottom: 50px;
    }

    .btn a {
        font-size: 12px;
        padding: 8px 10px 10px 10px;
    }

    .heroImg {
        margin-top: 50px;
    min-height: 400px;
}

.phone1 {
    width: 170px;
}

.phone2 {
    width: 170px;
}

}