.card {
    width: 390px;
    height: 320px;
    background-color: #ffffff;
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
}

.card i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.4s ease-out 0s;
    background-color: color-mix(in srgb, #559bcc, transparent 95%);
    color: #559bcc;
}

.card:hover i {
    background-color: #559bcc;
    color: #ffffff;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #2d465e;
}

.card p {
    color: #212529;
    font-size: 16px;
}

@media (max-width: 500px) {
    .card {
        height: 280px;
        padding: 0 80px;
    }
}