.features {
    color: #212529;
    background-color: #ffffff;
    padding: 120px 0px;
    scroll-margin-top: 90px;
    overflow: clip;
    padding: 20px 60px;
    margin-top: 50px;
}

.featuresContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuresContent h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 38px;
    display: block;
    font-size: 32px;
    font-weight: 700;
    unicode-bidi: isolate;
    margin-bottom: 15px;
    color: #2d465e;
}

.featuresContent p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    ;
    text-align: center;
    color: #212529;
}

.featuresCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.featuresCardsContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.featuresCardsImage {
    width: 60%;
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
}

.featuresCardsImage img {
    vertical-align: middle;
    width: 530px;
    height: 480px;
}

.featuresCardsText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.featuresCardsText h3 {
    font-weight: 700;
    font-size: 26px;
    color: #2d465e;
}

.featuresCardsText p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: color-mix(in srgb, #212529, transparent 20%);
}

.featuresCardsText ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.featuresCardsText ul li {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: color-mix(in srgb, #212529, transparent 20%);
}

.featuresCardsText ul i {
    font-size: 10px;
    padding-right: 24px;
    color: #559bcc;
}