.footer{
    width: 100vw;
    color: #ffffff;
    background-color: #142e6c;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.heading{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

.para{
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 30px 0;
}

.socialLinks{
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.socialLinks a{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #559bcc;
    color: #ffffff;
    line-height: 1;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    text-decoration: none;
}

.socialLinks a:hover{
    background: #559accaf;
}

.footerContainer{
    max-width: 1320px;
}